@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap&subset=latin-ext');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

:root {
    --main-accent-color: #ff6600;
    font-family: 'Arsenal', sans-serif;
}
a:hover { @apply .gradient .text-gradient .no-underline ; }

.gradient {
    background: #ff6600;
    background: -moz-linear-gradient(left, #ff6600 0%, #b70046 100%);
    background: -webkit-linear-gradient(left, #ff6600 0%,#b70046 100%);
    background: linear-gradient(to right, #ff6600 0%,#b70046 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#b70046',GradientType=1 );
}
.text-gradient {
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.theme-light {
    --page-background-color: #edf2f7;
    --header-background-color: #FFF;
    --card-background-color: #FFF;
    --btn-gray-background-color: #d8d8d8;
    --default-text-color: #000;
    --default-alt-text-color: #808080;
    --default-muted-text-color: #b6b6b6;
}
.theme-dark {
    --page-background-color: #333333;
    --header-background-color: #414141;
    --card-background-color: #414141;
    --btn-gray-background-color: #b9b9b9;
    --default-text-color: #d6d6d6;
    --default-alt-text-color: #929292;
    --default-muted-text-color: #707070;
}

.button {
    @apply .text-white .bg-accent .text-base .px-5 .py-2 .rounded-lg .shadow ;
    &:hover {
        @apply .gradient .text-white ;
    }
}
a.button {
    &:hover {
        -webkit-text-fill-color: white;
        @apply .text-white ;
    }
}
.btn-gray {
    @apply .text-default .border-2 .border-accent .bg-card ;
    &:hover {
        @apply .gradient .text-white ;
    }
}
.btn-delete {
    @apply .text-xs ;
    &:hover {
        @apply .gradient .text-gradient .no-underline ;
    }
}
.card { @apply .bg-card .p-5 .rounded-lg .shadow ; }
.reznor-logo {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    word-break: break-all;
    color: var(--default-alt-text-color);
    letter-spacing: .1rem;
}

.dropdown-button {
    @apply .text-default ;
    &:hover {
        @apply .gradient .text-gradient .no-underline ;
    }
}
.dropdown-item {
    @apply .block .text-default .no-underline .leading-loose .px-4 ;
    &:hover {
        @apply .text-accent ;
        background-color: rgba(0, 0, 0, 0.03);
    }
}
.dropdown-toggle {
    > button:focus {
        outline: 0;
    }
}

@import 'components/checkbox.scss';